*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;/*
	box-shadow: inset red 1px 1px, inset red -1px -1px;*/
}
html, body{
	width: 100%;
	min-height: 100%;
	/*margin-right: calc(100vw - 100%);*/
	background: #222;
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;/*
	box-shadow: inset darkgoldenrod 5px 5px, inset darkgoldenrod -5px -5px;*/
}

.pageSlide{
	min-height: 92vh;
	height: min-content;
	width: 100%;
	box-shadow: inset red 2px 0px, inset red -2px -2px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding: 1em;
	padding-bottom: 20vh;
}
.pageSlide .pageRow{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: auto;
	padding: 1em;
	border-radius: 1em;
	background: #333;
	margin-top: 1em;
}
.pageRow > div{
	margin-right: 1em;
	display: flex;
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;
	border: #ddd solid 2px;
	padding: 0.5em;
	border-radius: 0.5em;
}
.pageRow > div:last-child{
	margin: 0;
}
.pageRow > div:hover{
	background: #222;
}
#pageNavFlickCont{
	height: 8vh;
	width: 100%;
	padding: 1vh 0;
	background: #111;
	box-shadow: inset #ddd 0 -2px;
	position: sticky;
	top:0;
	z-index: 9985;
}
.navPill{
	width: auto;
	height: 6vh;
	margin-right: 1em;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	border-radius: 3vh;
	padding: 0 1em;
	background: #222;
	color: #999;
	border: #999 solid 2px;
	white-space: nowrap;
}
.navPill.is-nav-selected{
	background: #000;
	color: darkgoldenrod;
	border: solid 2px darkgoldenrod;
}
.contentPill{
	height: 30vh;
	width: 80%;
	background: greenyellow;
	border-radius: 1em;
	margin-right: 1em;
}
#pageContentFlick{
	margin-top: 1em;
}


/***********************	Navigation 	***********************/

#navContainer{
	position: fixed;
	height: 192%;
	bottom: -92%;
	width: 2px;
	z-index: 99999;
}
.noscroll{
	overflow-y: hidden;
}
.navBot{
	bottom: -92%;
}
.navMid{
	/*bottom:0%;*
	bottom: -15%;*/
	/*bottom: -27%;*/
	bottom: -42%;
	/*bottom: -57%;*/
	/*bottom: -77%;*/
	/*bottom: -92%*/
}
.navTop{
	bottom: 0%;
}

#navBody{
	position: fixed;
	height: 100%;
	width: 100%;
	/*bottom: -92%;*/
	background: linear-gradient(
		to bottom,
		#000a 0%,
		#000f 4%,
		#000f 12%,
		#0008 44%,
		#000d 100%
	);
	backdrop-filter: blur(5px);
}
#navbar{
	height: 8%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
#navContent{
	height: 92%;
	padding: 1em;
}
.navbarBtn{
	width: 20%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.navbarBtn:hover, .navbarBtn:active{
	background: #0005;
	color: darkgoldenrod;/*
	background: gold;*/
}
.navbarBtn:nth-child(2){
	flex-grow: 1;
}

.nbGray{
	box-shadow: inset #dddb 0 2px, inset #ddd6 0 -2px;
}
.nbGreen{
	box-shadow: inset #cf0b 0 4px, inset #ddd6 0 -2px;
}
.nbAqua{
	box-shadow: inset #0ffb 0 4px, inset #ddd6 0 -2px;
}
