* {
	box-sizing: border-box;
	-webkit-touch-callout: none;
	/* iOS Safari */
	-webkit-user-select: none;
	/* Safari */
	-khtml-user-select: none;
	/* Konqueror HTML */
	-moz-user-select: none;
	/* Old versions of Firefox */
	-ms-user-select: none;
	/* Internet Explorer/Edge */
	user-select: none;
	/* Non-prefixed version, currently
								  supported by Chrome, Opera and Firefox */
	padding: 0;
	margin:0;
	/*box-shadow: inset red 2px 2px, inset red -2px -2px;*/
}
/*
p{
	box-shadow: inset red 0px 0px, inset red -0px -0px;
}
*/
body {
	background: #222;
	color: #fff;
	min-height: 100%;
	z-index: 1;
}

body::before{
	content: '';
	background-image: url(../media/YPNlogo.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto 80vh;
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0.05;
}

.colflex{
	display: flex;
	flex-direction: column;
}

.rowflex{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

#mainmain{
	z-index: 6;
	padding: 1em;
}

#navBox{
	width: 4px;
	height: 194%;
	position: fixed;
	top: 0;
	z-index: 90;
}

nav#nav{
	position: fixed;
	width: 100%;
	height: 102%;
	background: linear-gradient(
		to bottom,
		#000c 0%,
		#000f 4%,
		#000f 8%,
		#0008 102% 
	);
	z-index: 92;
	backdrop-filter: blur(2px);
}
.bot94{
	bottom: -94%;
}
.bot2{
	bottom: -2%;
}
.bot52{
	bottom: -52%
}

.noscroll{
	overflow-y: hidden;
}

#navbar{
	width: 100%;
	height: 8%;
}

#navbar > div{
	display: flex;
	width: 20vw;
	height: 100%;
	align-items: center;
	justify-content: center;
	text-shadow: #000 0 0 5px, #000 0 0 50px, #000 0 0 100px;
	box-shadow: inset #ddd9 0 2px, inset #fff4 0 -2px;
}
#navbar > div:nth-child(2){
	width: auto;
	flex-grow: 1;
}

#navCont{
	width: auto;
	box-shadow: inset red 2px 2px, inset red -2px -2px;
	align-items: center;
	justify-content: flex-end;
}

.cont92{
	height: 90%;
}

#bot{
	position: fixed;
	height: 8%;
	width: 50%;
	background: #db3;
	bottom: 0;
	right: 0;
}
